.git
.idea
.vscode
**/bin
**/bin/**
**/obj
**/obj/**
src/backend/**/bin/
src/backend/**/obj/
tests/**/bin/
tests/**/obj/
**/node_modules
**/node_modules/**
src/frontend/**/node_modules/
**/dist
**/dist/**
src/frontend/**/dist/
**/TestResults
**/TestResults/**
node_modules
node_modules/**
artifacts
.env
.env.*
!.env.example
docs
README.md
playwright-report
test-results
